


 <link rel="stylesheet" href="../../css/style.css">

   <script src="/validar/validar.js"></script>

  <div class="card" style="width: 64%;">

    <div class="card-body">
     
   <form asp-action="Edit" method="POST">
    <div class="text-center">
    <img class="img-fluid ml-5" src="https://cdn-icons-png.flaticon.com/512/359/359858.png" alt="">
  </div>

    <div class="form-row">

      <div class="col-xs-4">
        <input type="text" value="{{id_rol_x_permiso}}" name="id" style="display: none;"> 
        <label for="inputEmail4" class="form-label" >Nombre(*)</label>
        <input type="text"  class="form-control" value="{{fk_rol}}" placeholder="Nombre" aria-label="First name" id="dni">
      </div>

      <div class="col-xs-4">
        <label for="inputEmail4" class="form-label">Permiso(*)</label>
        <input type="text" class="form-control" value="{{fk_permiso}}" placeholder="Descripcion" aria-label="Last name" id="nombre">
      </div>



    </div>
<br>
<br>



    <div class="col-12 row mr-5">
      <button type="button" class="btn btn-primary mr-5" onclick="validart()">Actualizar</button>
      <a href="/rol"><button type="button" class="btn btn-danger ">Cancelar</button></a>
    </div>
  </form>
 
</div>
  </div>

    <!-- ! Footer -->

  </div>
</div>
<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>
