@model ProyectoPubligrafit.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="/css/style.css">

<script src="/validar/validarVECL.js"></script>

<form asp-action="Create" method="POST" id="formularioClientes">
    <div class="card" style="width: 64%;">

        <div class="card-body">

            <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                </svg>
            </div>

            <div class="form-row">
                <div class="col-4" style="margin-left: -2%;">
                    <label for="inputEmail4" class="form-label">Documento(*)</label>

                    <input type="text" class="form-control" asp-for="dni_cliente" placeholder="No. Documento" aria-label="DNI" id="dni">
                </div>
                <div class="col-4" style="margin-left: 19%;">
                    <label for="inputEmail4" class="form-label">Nombre(*)</label>

                    <input type="text" class="form-control" asp-for="nombre" placeholder="Nombre" aria-label="Last name" id="nombre">
                </div>
            </div>


            <div class="form-row">
                <div class="col-4" style="margin-left: -2%;">
                    <label for="inputEmail4" class="form-label">Apellido(*)</label>

                    <input type="text" class="form-control" asp-for="apellido" placeholder="Apellido" aria-label="First name" id="apellido">
                </div>

                <div class="col-4" style="margin-left: 19%;">
                    <label for="inputEmail4" class="form-label">Teléfono(*)</label>

                    <input type="text" class="form-control" asp-for="telefono" placeholder="Teléfono" aria-label="telefono" id="telefono" pattern="[0-9]+">
                </div>

            </div>

            <div class="form-row">
                <div class="col-4" style="margin-left: -2%;">
                    <label for="inputEmail4" class="form-label">Dirección(*)</label>

                    <input type="text" class="form-control" asp-for="direccion" placeholder="Dirección" aria-label="direccion" id="direccion">
                </div>

                <div class="form-row">
                    <div class="col-9" style="margin-left: 8%;">
                        <label for="inputEmail4" class="form-label">Correo Electrónico(*)</label>

                        <input type="email" class="form-control" asp-for="email" placeholder="Email" aria-label="email" id="email">
                    </div>
                </div>
            </div>

            <div class="col-12 row mr-5" style="margin-left: 31%;">

                <button type="button" class="btn btn-primary mr-5" onclick="validarCliente()">Registrar</button>

                <a class="btn btn-danger" asp-controller="Cliente" asp-action="Index">Cancelar</a>
            </div>

        </div>
    </div>
</form>

<!-- codigo de modal -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>